@model BlogPostDetailsViewModel

<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p>Posted on @Model.CreatedOn</p>
    <p>By : @Model.AuthorName </p>
    <br />
    <br />
    <p>@Model.Description</p>
</div>