@model IEnumerable<PostLinkBigViewModel>

@foreach (var coreappmodel in Model)
{
    <div class="jumbotron">
        <h1>
            @coreappmodel.Title
        </h1>
        <p>@coreappmodel.Summary</p>
    </div>
}